<div>
    <form id="main" method='post' action='/save_data'></form>
</div>
<script>
    // get question data from python
    var questions = JSON.parse('{{data | tojson}}');
    // get page element
    var page = document.getElementById("main");
    // create form from question data
    var i = 0;

    // generate question from question data
    function generateQuestion(qNumber, question, answer) {
        var questionElem = document.createElement("div");
        questionElem.innerHTML += `<h3>Question ${qNumber+1}:</h3>`;
        questionElem.innerHTML += "<p>question: ";
        questionElem.innerHTML += `<textarea rows='5' style='width: 100%;' name='q-${qNumber}'>${question}</textarea>`;
        questionElem.innerHTML += "</p>";
        questionElem.innerHTML += "<p>answer: ";
        questionElem.innerHTML += `<textarea rows='5' style='width: 100%;' name='a-${qNumber}'>${answer}</textarea>`;
        questionElem.innerHTML += "</p>";
        questionElem.innerHTML += `<button onclick='removeQuestion(${qNumber})' class='btn btn-danger ml-0'>remove</button>`
        page.appendChild(questionElem);
    }

    // generate buttons to add new question and save data
    function generateButtons() {
        var buttons = document.createElement("div");
        buttons.setAttribute("id", "buttons")
        buttons.innerHTML += "<br><button id='save' type='submit' class='btn btn-primary ml-0'>save</button>";
        buttons.innerHTML += "<button id='add' onclick='addQuestion()' class='btn btn-primary ml-0'>add new question</button>";
        page.appendChild(buttons)
    }

    // display questions in question data on page
    for(i = 0; i < questions.length; i++){
        generateQuestion(i, questions[i].question, questions[i].answer);
    };

    generateButtons();
    
    // add new empty question
    function addQuestion() {

        document.getElementById("buttons").remove();
        generateQuestion(i, "", "");

        i++;
        generateButtons();
    }

    // remove question on click of remove button
    function removeQuestion(number) {
        document.getElementById(`question${number}`).remove();
    }
</script>