<br>
<table class="center shadow" style="width: 100%;" cellpadding="30%">
    <tr style="height:180px;">
        <td>
            <h5 id="questionHeader"></h5>
            <p id="questionBody"></p>
        </td>
    </tr>
    <tr style="height:180px;" class="center">
        <td>
            <p id="answer"></p>
        </td>
    </tr>
</table>
<br>
<div class="center">
    <button onclick="showBack()" class='btn btn-primary ml-0'>Show Answer</button>
    <button onclick="prev()" class='btn btn-primary ml-0'>Previous Card</button>
    <button onclick="next()" class='btn btn-primary ml-0'>Next Card</button>
</div>
<br>



<script>
    var questionHeader = document.getElementById("questionHeader");
    var questionBody = document.getElementById("questionBody");
    var answer = document.getElementById("answer");
    var qIndex = 0;
    // get question data from python
    var questions = JSON.parse('{{data | tojson}}');

    // shuffle questions
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
    }
    // show question
    function showFront() {
        var questionType = questions[qIndex]["type"];
        var currentQuestion = questions[qIndex]["question"].split("\n");
        answer.innerText = "";
        questionHeader.innerText = currentQuestion[0];
        questionBody.innerText = currentQuestion.slice(1).join("\n");
    }
    // show answer
    function showBack() {
        answer.innerText = questions[qIndex]["answer"];
    }
    // show next question
    function next() {
        if(qIndex < questions.length - 1) {
            qIndex++;
        }
        showFront();
    }
    // show previous question
    function prev() {
        if(qIndex > 0) {
            qIndex--;
        }
        showFront();
    }
    // initialize
    shuffleArray(questions);
    showFront();
</script>