<br>
<table class="center shadow" style="width: 100%;" cellpadding="30%">
    <tr style="height:180px;">
        <td>
            <h5 id="questionHeader"></h5>
            <p id="questionBody"></p>
            <div id="testChoices"></div>
        </td>
    </tr>
    <tr style="height:180px;" class="center">
        <td>
            <p id="answer"></p>
        </td>
    </tr>
</table>
<br>
<div class="center">
    <button onclick="showBack()" class='btn btn-primary ml-0'>Show Answer</button>
    <button onclick="prev()" class='btn btn-primary ml-0'>Previous Card</button>
    <button onclick="next()" class='btn btn-primary ml-0'>Next Card</button>
</div>
<br>
<script src="static/practice.js"></script>
<script>
    // get question data from the page
    var questions = JSON.parse('{{data | tojson}}');
    init(questions);
</script>
